html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  
 
}

* {
  box-sizing: border-box;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background: linear-gradient(135deg, #191970, #1E3A8A);
  background-size: cover;

}